/*
 * MyPal Pet (mypalpet.gilbert-rehling.com)
 * @version    $Id: $file.filename 10001 18/07/17 9:40 PM Gilbert Rehling $
 * @package    MyPal Pet REST Project by Gilbert Rehling (www.gilbert-rehling.com)
 * @subpackage mypalpet
 * @link       https://mypalpet.gilbert-rehling.com
 * @copyright  Copyright (c) 2017. Gilbert Rehling of MMFAW. All rights reserved. (www.mfmaw.com)
 * @license   MyPal Pet! is licensed software. No unauthorised copying or replication allowed!
 * MyPal Pet may be released as FREEWARE with a limited usage license.
 * This program is designed as a Laravel / Angular project
 * Any other use is prohibited and may infringe on the copyright and usage expectations of ths software.
 * See COPYRIGHT.php for copyright notices and further details.
 */

/* Global */
body {
  padding:  0 0 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/img/bg-blue-white.jpg) repeat-y fixed;
}
a {
  color: #00B7FF;
}
.container-fluid { 
		max-width: 99%; 
}
.container {
	width: auto;
	max-width: 1544px
}
.current-spot .container {
	max-width: 100%
}
.user-info, .register-login {
	color: #898989;
	position: absolute;
	top: 5px;
	right: 75px;
	background-color: #eeeeee;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 7px;
}
.header-inner {
	position: relative;
}
.header-content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: url(/img/header-background-dark-blue.png) repeat-x;
	padding-top: 20px;
	z-index: 10000;
}
header h1 {
	text-align: left;
	padding: 0;
	margin: 3px 0 0 0;
	display: inline-block;
	vertical-align: top;
}
.front-nav {
	min-width: 300px;
}
.front-nav a {
	vertical-align: bottom;
}
.ageConfirmationView {
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 25px;
	padding-top: 10px;
}
.ageConfirmationView h1 {
	margin-top: 20px;
}
/* navigation */
.navigation {
	position: unset;
	padding: 0;
}
.navigation h1 a, header h1 a {
	color: #575757;
	background-color: #eeeeee;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 5px;
}
.navigation h1 a {
	padding: 5px 30px;
}
h1 > a { color: #000;}
h1 > a:hover { text-decoration: none; color: #000080;}
.register-login { cursor: pointer;}
.btn-lg, .btn-group-lg > .btn {
		font-size: 18px;
}
.padd-left-10 { padding: 0 0 0 10px; display: inline-block;}
.navgation .active, .navigation h1 .active, footer a.active {
	background-color: #286090;
}
.navigation h1 .active, footer a.active {
	color: #fff;
}
.navgation .active:hover, .navigation h1 .active:hover, footer a.active:hover {
	background-color: #204d74;
	border-color: #204d74;
}
.about-us {
	background-color: #fcfcfc;
	padding: 20px;
}
.about-us img, .contact-us img, .terms img, .privacy img {
	width: auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.my-view-buttons .text-info {
	color: #85c4e3;
}
.search-box {
	margin-right: 110px;
}
.fb-login {
	height: 50px;
}
/* site loader */
.site-loading {
	background-color: #4169e1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    margin-top: 120px;
}
/* Index page */
bookpet-outer-gallery, .book-outer-list {
	margin-bottom: 25px;
	position: relative;
	padding-bottom: 5px;
	/* min-width: 350px; */
}
.pet-outer-list .description {
	position: absolute;
	top: 75px;
	right: 55px;
	font-size: 1.3em;
	max-width: 55%;
	text-align: justify;
}
.pet-inner, .collection-inner {
	position: relative;
	padding: 1% 3% 0 3%;
	background-color: #fdfdfd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	width: 100%;
}
.pet-outer-list .pet-inner, .collection-outer-list .collection-inner h4 { margin-top: 0;}
.petsListView .petinner, .collectionListView .collection-inner, .collectionGalleryView .collection-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position: relative;
}
.collectionListView .collection-inner, .collectionGalleryView .collection-inner, .booksListView .book-inner {
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.pet-outer-list h4.title, .collection-outer-list h4.title {
	background: #d6d6e5;
  margin: 0 auto;
  padding: 5px 5px 5px 40px;
  color: #191970;
  position: relative;
  -webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.petsListView p, .pet-inner p {
	margin: 0 0 5px;
}
.petsListView .pet-block {
	margin-bottom: 15px;
}
.adGalleryView p, .booksListView p {
	display: block;
}
.pet-inner > div {
	padding-bottom: 7px;
}
.pet-inner h4.title {
	color: #191970;
	height: 20px;
	overflow: hidden;
}
.pet-inner h5 {
	margin: 0 0 6px 0;
	height: 16px;
	overflow: hidden;
	cursor: help;
}
.pet-inner strong > span {
	color: #19758c;
}
.more-button-box {
	height: 34px;
	position: absolute;
	right: 0;
	bottom: 10px;
}
.more-button-box button {
	margin: 0 3px;
}
.adListView .more-button-box {
	height: 21px;
	position: relative;
	right: 7px;
	bottom: 4px;
}
.adListView .more-button-box button {
	padding: 1px 10px;
	font-size: 12px;
}
.more-button {
	position: absolute;
	right: 10px;
	bottom: 0px;
}
.mgb {
	margin-bottom: 10px;
}
.book-inner p:last-child {
	margin: 0;
}
.booksListView p:last-child {
	margin-bottom: 3px;
}
/* Collection only styles */
.collectionListView, .collectionGalleryView {
	margin-bottom: 25px;
}
.collectionGalleryView .collection-outer-list {
	margin-bottom: 20px;
}
.collectionListView .collection-outer-list {
	margin-bottom: 20px;
}
button.coll-list {
	position: absolute;
	bottom: 10px;
	right: 25px;
}
h3.title {
	font-size: 1.6em;
	font-weight: bold;
}
.page-title {
	padding: 5px 50px 5px 30px;
	max-width: auto;
}
.data-loading {
	margin: 10px auto 0 auto;
	float: none;
	display: inline-block;
}
.page-title h3 { display: inline-block; font-weight: bold; font-size: 1.8em; padding-left: 25px; }
.page-title .view { margin-top: 18px; }
.page-title .view span {
    color: #bebebe;
    font-size: 13px;
    font-weight: 400;
    margin: 0 0 0 8px;
    text-decoration: none;
    cursor: pointer;
}
.page-title .view span.listView:hover { 
 	text-decoration: underline; 
 	background: #00CED1 url("/img/view-list-bg.gif") no-repeat scroll 0 0;
}
.page-title .view span.galleryView:hover { 
 	text-decoration: underline; 
 	background: #00CED1 url("/img/view-gallery-bg.gif") no-repeat scroll 0 0;
}
.page-title .view span.listView {
    background: rgba(0, 0, 0, 0) url("/img/view-list-bg.gif") no-repeat scroll 0 -18px;
    padding: 0 5px 0 22px;
}
.page-title .view span.galleryView {
    background: rgba(0, 0, 0, 0) url("/img/view-gallery-bg.gif") no-repeat scroll 0 -18px;
    padding: 0 5px 0 22px;
}
.page-title .view span.listViewSelected, .page-title .view span.listViewSelected:hover {
    background: #00CED1 url("/img/view-list-bg.gif") no-repeat scroll 0 0;
    color: #686868;
 }
.page-title .view span.galleryViewSelected, .page-title .view span.galleryViewSelected:hover {
    background: #00CED1 url("/img/view-gallery-bg.gif") no-repeat scroll 0 0;
    color: #686868;
}
.page-title .view span.listViewSelected:hover {
    text-decoration: none;
 }
.page-title .view span.galleryViewSelected:hover {
    text-decoration: none; 
}
.country-flag {
	padding: 0;
	position: absolute;
	right: 15px;
	top: 0;
	cursor: pointer;
}
/* Current Spot Title Section */
.current-spot {
	color: #fff;
	margin-top: 120px;
	background-color: #4169E1;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
} 
.current-spot h3 { margin-top: 12px; margin-bottom: 14px; padding-left: 55px; } 
.main-content { background-color: #eeeeee; padding: 30px 0 10px 0; }
.border10 {
	webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: -20px;
}
.border-10 {
	webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
button#enter-website {
	padding: 20px 75px;
	background-color: red;
	webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	color: #fff;
	font-weight: bold;
}
/* rating images */
h4 .image-rating-container {
	width: 22px;
	height: 21px;
	position: absolute;
	right: 70px;
	bottom: 5px;
	display: inline-block;
	cursor:help;
}
h4 .image-rating-container.over {
	background: #fff url("/img/thumbs-color-over.jpg") no-repeat scroll 0 0;
}
h4 .image-rating-container.under {
	background: #fff url("/img/thumbs-color-under.jpg") no-repeat scroll 0 0;
}
.image-rating-container {
	width: 40px;
	height: 48px;
	position: absolute;
	right: 80px;
	bottom: 0px;
	display: inline-block;
	cursor: help;
}
.image-rating-container.over {
	background: #fff url("/img/thumbs-color.png") no-repeat scroll 0 0;
}
.image-rating-container.under {
	background: #fff url("/img/thumbs-color.png") no-repeat scroll -40px -12px;
}
.image-confirmed-container {
	width: 60px;
	display: inline-block;
}
.image-confirmed-container.yes {
	background: url("/img/thumbs.png") no-repeat scroll 0 0;
}
.image-confirmed-container.no {
	background: url("/img/thumbs.png") no-repeat scroll -40px -10px;
}
/* image rotating */
.image-rating-container {
  transform-origin: top left;
  /* IE 10+, Firefox, etc. */
  -webkit-transform-origin: top left;
  /* Chrome */
  -ms-transform-origin: top left;
  /* IE 9 */
}
.image-rating-container.rotate100 {
}
.image-rating-container.rotate95 {
}
.image-rating-container.rotate90 {
}
.image-rating-container.rotate85 {
  transform: rotate(85deg) translate(10%, -50%);
  -webkit-transform: rotate(85deg) translate(10%, -60%);
  -ms-transform: rotate(85deg) translate(10%, -60%);
}
.image-rating-container.rotate80 {
  transform: rotate(80deg) translate(10%, -50%);
  -webkit-transform: rotate(80deg) translate(10%, -60%);
  -ms-transform: rotate(80deg) translate(10%, -60%);
}
.image-rating-container.rotate75 {
  transform: rotate(75deg) translate(10%, -50%);
  -webkit-transform: rotate(75deg) translate(10%, -60%);
  -ms-transform: rotate(75deg) translate(10%, -60%);
}
.image-rating-container.rotate70 {
  transform: rotate(70deg) translate(10%, -50%);
  -webkit-transform: rotate(70deg) translate(10%, -60%);
  -ms-transform: rotate(70deg) translate(10%, -60%);
}
.image-rating-container.rotate65 {
  transform: rotate(65deg) translate(10%, -50%);
  -webkit-transform: rotate(65deg) translate(10%, -60%);
  -ms-transform: rotate(65deg) translate(10%, -60%);
}
.image-rating-container.rotate60 {
  transform: rotate(60deg) translate(10%, -50%);
  -webkit-transform: rotate(60deg) translate(10%, -60%);
  -ms-transform: rotate(60deg) translate(10%, -60%);
}
.image-rating-container.rotate55 {
  transform: rotate(55deg) translate(15%, -39%);
  -webkit-transform: rotate(55deg) translate(14%, -39%);
  -ms-transform: rotate(55deg) translate(15%, -39%);
}
.image-rating-container.rotate50 {
  transform: rotate(50deg) translate(5%, -40%);
  -webkit-transform: rotate(50deg) translate(5%, -40%);
  -ms-transform: rotate(50deg) translate(5%, -40%);
}
.image-rating-container.rotate45 {
  transform: rotate(45deg) translate(9%, -39%);
  -webkit-transform: rotate(45deg) translate(9%, -39%);
  -ms-transform: rotate(45deg) translate(9%, -39%);
}
.image-rating-container.rotate40 {
  transform: rotate(40deg) translate(9%, -39%);
  -webkit-transform: rotate(40deg) translate(9%, -39%);
  -ms-transform: rotate(40deg) translate(9%, -39%);
}
.image-rating-container.rotate35 {
  transform: rotate(35deg) translate(12%, -35%);
  -webkit-transform: rotate(35deg) translate(12%, -35%);
  -ms-transform: rotate(35deg) translate(12%, -35%);
}
.image-rating-container.rotate30 {
  transform: rotate(30deg) translate(12%, -35%);
  -webkit-transform: rotate(30deg) translate(12%, -35%);
  -ms-transform: rotate(30deg) translate(12%, -35%);
}
.image-rating-container.rotate25 {
  transform: rotate(25deg) translate(12%, -35%);
  -webkit-transform: rotate(25deg) translate(12%, -35%);
  -ms-transform: rotate(25deg) translate(12%, -35%);
}
.image-rating-container.rotate20 {
  transform: rotate(20deg) translate(12%, -35%);
  -webkit-transform: rotate(20deg) translate(12%, -35%);
  -ms-transform: rotate(20deg) translate(12%, -35%);
}
.image-rating-container.rotate15 {
  transform: rotate(15deg) translate(12%, -35%);
  -webkit-transform: rotate(15deg) translate(12%, -35%);
  -ms-transform: rotate(15deg) translate(12%, -35%);
}
.image-rating-container.rotate10 {
  transform: rotate(10deg) translate(12%, -35%);
  -webkit-transform: rotate(10deg) translate(12%, -35%);
  -ms-transform: rotate(10deg) translate(12%, -35%);
}
.image-rating-container.rotate5 {
  transform: rotate(5deg) translate(12%, -35%);
  -webkit-transform: rotate(5deg) translate(12%, -35%);
  -ms-transform: rotate(5deg) translate(12%, -35%);
}
.image-rating-container.rotate0 {
}
/* date Picker */
input.date-picker {
	width: 95%;
}
.datePickerButton .btn {
	padding: 12px 14px;
}
/* Modal - ngDialog */
.ngdialog.ngdialog-theme-plain {
	padding-top: 120px;
}
.ngdialog.ngdialog-theme-plain .ngdialog-content {
	webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 70%;
	margin: 0 auto 0 17% !important;
}
/* Language Modal */
.ngdialog.ngdialog-theme-plain.language .ngdialog-content {
	width: 40%;
	margin: 0 auto !important;
}
#languageSelection {
	margin-top: 5px;
	padding: 10px;
	background-color: #e0e0e0;
	list-style: none;
	width: auto;
	max-width: 200px;
	display: none;
}
#languageSelection li {
	line-height: 1.4rem;
	padding: 5px;
	margin-bottom: 5px;
}
#languageSelection li:hover {
	background-color: #191970;
	color: #fff;
	cursor: pointer;
}
#languageSelection li.active {
	background-color: #19758c;
	color: #fff;
}
/* errors */
span.error {
	color: #fe7e7e;
	font-weight: bold;
	background-color: #898989;
	padding: 3px 7px;
}
.has-error {
	border: 1px solid #80ffff;
}
p.error-box {
	margin: 15px auto;
	width: auto;
}
/* Server error modal */
.server-error-modal {
	background-color: #fff;
	padding: 20px;
}
.server-error-modal span {
	padding: 3px 5px;
}
.my-ad-modal .ngdialog-button {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.my-ad-modal .ngdialog-message .title {
	display: inline-block;
	min-width: 140px;
	text-align: right;
}
.my-ad-modal .ngdialog-message .data {
	display: inline-block;
	max-width: 90%;
	text-align: left;
	vertical-align: top;
}
.my-ad-modal .ngdialog-message .numeric {
	padding-left: 5px;
}
.my-ad-modal .image {
	width: 100%;
	max-width: 400px;
}
.ngdialog.ngdialog-theme-plain .ngdialog-button:hover {
	background-color: #a6a6a6;
	color: #f6f6f6;
}
.image-container .image,.my-image-modal .ngdialog-message .image {
	border: 5px solid #1E90FF;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
	width: auto;
	max-width: 100%;
}
/* my image modal */
.my-image-modal, .my-image-modal .ngdialog-message {
	position: relative;
}
.image-dialog .ngdialog-content {
	border: 20px solid #0060b9  !important;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 20px !important;
}
.my-image-modal .ngdialog-message {
	text-align: center;
}
.my-image-modal span, .my-image-modal img {
	display: inline;
}
.my-image-modal #prev-image, .my-image-modal #next-image {
	vertical-align: middle;
	cursor: pointer;
	position: absolute;
	top: 45%;
}
.my-image-modal #prev-image {
	left: 2em;
}
.my-image-modal #next-image {
	right: 2em;
}
.popover { 
  	max-width: 360px; 
}
[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 1px;
}
.icon-calendar {
    background-position: -192px -120px;
}
/* Category List */
.section-title h3 {
	margin-top: 10px;
}
.section-title:hover, .category-title:hover {
	background-color: #cdffff;
}
.section-title div, .category-title div {
	vertical-align: middle;
}
.section-title div {
	margin-top: 5px;
}
.category-title div {
	margin: 3px -5px 0 0;
}
/* Footer */
.footer-inner {
	padding: 20px 0;
}
.footer-inner ul {
	list-style: none;
	display: inline-block;
}
.footer-inner li {
	line-height: 2rem;
}
.footer-rego {
	display: block;
	position: absolute;
	width: 300px;
	right: 53px;
}
.fb_iframe_widget {
	top: 50px;
}
.fb-like.fb_iframe_widget {
	top: 50px;
}
.copyright {
	display: inline-block;
	margin-top: 40px;
}
/* premium ads */
.premium {
	margin-bottom: 15px;
	height: 107px;
	display: inline-table;
	width: 100%;
}
.premium table {
        width: 100%;
}
.premium-inner-list {
	border: solid 2px #4169e1;
	border-radius: 7px;
}
.premium img {
	width: auto;
	height: 110px;
	margin: 0 auto;
}
.premium .image {
	width: 25%;
	display: table-cell;
	vertical-align: middle;
	background-color: #4169e1;
	text-align: center;
}
.premium .content {
	vertical-align: top;
	padding-left: 10px;
	position: relative;
}
.premium .content h4 {
	height: 20px;
	overflow: hidden;
	margin-top: 7px;
	margin-bottom: 3px;
}
.premium .content .intro {
	height: 33px;
	overflow: hidden;
}
.premium .telephone {
	width: 100%;
}
.premium .telephone, .premium .suburb {
	margin-bottom: 3px;
}
.premium .text {
	display: none;
}
.premium .more-button-box {
  bottom: 10px;
  height: 21px;
  position: absolute;
  right: 0px;
}
.adGalleryView .claim-button-box {
	position: absolute;
	right: 0px;
	bottom: 45px;
}
.list-block .claim-button-box {
	position: absolute;
	right: 115px;
	bottom: 3px;
}
.list-block .claim-button-box .btn {
	font-size: 10px;
	padding: 3px 5px;
}
@media (min-width: 1280px) {
	.btn-lg, .btn-group-lg > .btn {
		font-size: 17px;
		padding: 10px 15px;
	}
}
@media (max-width: 1280px) {
	.container-fluid { 
		max-width: 90%; 
	}
	.my-view-buttons {
		z-index: 9000;
		height: auto;
	}
	.current-spot {
		margin-top: 110px;
	}
	.btn-lg, .btn-group-lg > .btn {
		font-size: 16px;
		padding: 10px 14px;
	}
}
@media (max-width: 1200px) {
	.container-fluid { 
		max-width: 90%; 
	}
	.btn-lg, .btn-group-lg > .btn {
		font-size: 15px;
		padding: 10px;
	}
}
@media (min-width: 992px) {
	.container-fluid { 
		max-width: 95%; 
	}
	header h1 {
		font-size: 30px;
	}
	header .input-lg {
		font-size: 14px;
		height: 36px;
	}
	.btn-lg, .btn-group-lg > .btn {
		font-size: 12px;
		padding: 8px;
	}
	.user-info, .register-login {
		top: 0;
	}
	.country-flag {
		top: -5px;
	}
	.current-spot {
		margin-top: 105px;
	}
	.current-spot h3 {
		margin: 7px 0;
		padding-left: 30px;
	}
	.page-title .view {
    margin-top: 12px;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.container-fluid { 
		max-width: 95%; 
	}
	.front-nav {
    padding-left: 0;
	}
	header h1 {
		font-size: 26px;
	}
	.navigation h1 a {
    padding: 4px 20px;
	}
	header .input-lg {
		font-size: 14px;
		height: 36px;
	}
	.btn-lg, .btn-group-lg > .btn {
		font-size: 12px;
		padding: 6px;
	}
	.search-box {
    margin-right: 95px;
	}
	.user-info, .register-login {
		top: 6px;
		right: 67px;
		padding: 1px;
	}
	.country-flag {
		top: -5px;
	}
	.current-spot {
		margin-top: 105px;
	}
	.current-spot h3 {
		margin: 7px 0;
		padding-left: 30px;
	}
	.page-title .view {
    margin-top: 12px;
	}
	.my-view-buttons {
		z-index: 9000;
	}
	.my-view-buttons {
		
		z-index: 9000;
	}
	.ng-scope > .row {
		margin-left: 0;
		margin-right: 0;
	}
	.book-outer-gallery, .book-outer-list {
  /*   min-width: 380px; */
	}
	p.date-created {
		width: 160px;
		height: 19px;
		overflow: hidden;
	}
	.more-button-box {
    bottom: 8px;
    height: 34px;
    right: -5px;
	}
	.book-inner, .collection-inner {
    padding: 1% 1% 0;
	}
	.image-rating-container {
    height: 43px;
	}
}
@media (max-width: 767px) {
	.no-padd {
		padding-left: 0;
		padding-right: 0;
	}
	.container-fluid { 
		max-width: 100%; 
	}
	.confirmation {
		margin-left: 4%;
	}
	.header-content {
		padding-top: 5px;
	}
	.navigation {
		position: relative;
	}
	.nav-box {
		position: relative;
		height: 83px;
	}
	header h1, .navigation h1 {
		font-size: 25px;
		top: 5px;
		right: 2px;
		position: absolute;
	}
	.navigation h1 a {
    padding: 4px 20px;
	}
	.padd-top-5 {
		padding-top: 5px;
	}
	.padd-right-none {
		padding-right: 0;
	}
	.ng-scope > .row {
		margin-left: 0;
		margin-right: 0;
	}
	ul.nav {
		z-index: 10000;
		display: inline-block;
		margin: 1px 0 5px 0;
    width: auto;
	}
	ul.nav li {
		display: none;
		z-index: 10000;
	}
	ul.nav li.button {
		display: inline-block;
	}
	.nav .btn-primary:hover {
		background-color: #286090;
    border-color: #204d74;
    color: #fff;
	}
	.button img {
		width: auto;
		max-width: 45px;
	}
	header .btn {
		font-size: 11px;
		margin-top: 5px;
		padding: 9px;
	}
	.btn-lg, .btn-group-lg > .btn {
		font-size: 12px;
		margin-top: 5px;
	}
	.search-box {
		z-index: 1;
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	header .search {
		margin-top: -6px;
		width: 100%;
		padding: 5px;
		z-index: 1;
	}
	.input-lg {
    font-size: 17px;
    height: 35px;
    padding: 8px 14px;
	}
	.nav-info {
		position: relative;
		height: 75px;
	}
	.user-info, .register-login {
    padding: 1px;
    right: 65px;
		top: 7px;
	}
	.register-button, .login-button {
    position: relative;
    right: 0;
    bottom: 0;
	}
	.register-button button, .login-button button {
    padding: 3px 5px;
	}
	/*.login-button {
		margin-top: 6px;
		display: inline-block;
	}*/
	.country-flags {
		display: inline-block;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: -5px;
	}
	.country-flag {
    right: 0px;
    top: -6px;
	}
	.main-content {
    padding: 15px 0 10px;
	}
	.page-title {
    padding: 5px 10px;
	}
	.current-spot {
		margin-top: 105px;
		position: relative;
	}
	.current-spot h3 {
		margin: 10px 0;
		padding-left: 5px;
		font-size: 20px;
	}
	.page-title .view {
    margin-top: 12px;
	}
	.page-title .view span {
		display: block;
		margin: 3px 0;
	}
	.list-block .claim-button-box {
    right: 50px;
    bottom: 2px;
    font-size: 10px;
	}
	.list-gallery-links {
		position: absolute;
		bottom: 5px;
		right: 15px;
	}
	.list-gallery-links span {
		margin-top: 3px;
		margin-bottom: 3px;
	}
	.rego-content {
		padding-top: 0;
	}
	.book-outer-list h4.title, .collection-outer-list h4.title {
		padding: 5px 5px 5px 10px;
		font-size: 16px;
		height: 26px;
	}
	.adListView .more-button-box button {
    font-size: 11px;
    padding: 1px 8px;
	}
	.form-group h3 {
		font-size: 1.4em;
	}
	.image-rating-container {
    bottom: 1px;
    right: 80px;
  }
  .my-view-buttons {
		z-index: 9000;
		margin: 10px 0;
		padding-left: 0;
		padding-right: 0;
	}
	.adListView p strong {
		font-size: 12px;
	}
	.adListView .book-outer-list {
		margin-bottom: 20px;
	}
	.adListView .more-button-box {
    bottom: 2px;
    height: 20px;
  }	
  .ngdialog.ngdialog-theme-plain .ngdialog-content {
  	margin: 0 auto !important;
    width: 99%;
  }
	.ngdialog.ngdialog-theme-plain.language .ngdialog-content {
    margin: 0 auto !important;
    width: 90%;
	}
	.ngdialog-message h3 {
		font-size: 18px;
	}
	.padd-left-none {
		padding-left: 0;
	}
	.footer-menu {
		padding-left: 0;
	}
	p.date-created {
		width: 175px;
		height: 19px;
		overflow: hidden;
	}
	.booksListView {
		display: block;
	}
	.list-block {
		float: left;
	}
	.premium-block {
		padding-left: 0;
		padding-right: 0;
		float: left;
	}
}
@media (max-width: 480px) {
	.more-button-box {
    bottom: 30px;
	}
	.premium-block .intro {
		display: block;
	}
	.premium-block .text {
		display: none;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)  {
  	body { 
  		padding: 5px;
   	}
  	header h1, .navigation h1 {
			font-size: 20px;
			width: 100%;
			margin-top: 45px;
		}
		.navigation h1 a {
			display: inline-block;
			width: 100%;
			text-align: center;
			padding: 5px;
		}
		.front-nav {
			width: auto;
			text-align: center;
		}
		.front-nav .btn {
			font-size: 13px;
			padding: 10px 11px;
		}
		.current-spot {
			margin-top: 105px;
		}
		.current-spot h3 {
			font-size: 16px;
			padding-left: 0;			
		}
		.main-content {
			padding-top: 15px;
		}
		.book-outer-gallery, .book-outer-list {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
		span.register-login {
			right: 15px;
			top: 4px;
			background-color: none;
		}
	/* top nav section  background-color: #ff0000;  */
	.mobile-view { width: 100%;}
	.mobile-view .search, .mobile-view .navigation { position: relative; width: 100%; margin: 0;}
	.mobile-view .form-control {
		display: inline;
		float: left;
		width: 60%;
	}
	.mobile-view .register-login {
		margin-top: 4px;
		right: 0;
		top: 0;
	}
	.mobile-view .navigation { margin: 5px 0 0 0;}
	.mobile-view .row h1 {
		width: 44%;
		font-size: 1.3rem;
		display: inline-block;
		margin: 0;
		text-align: center;
	}
	.mobile-view .row h1 a {
		width: 100%;
	}
	.mobile-view .row a {
		display: inline-block;
		width: auto;
	}
		
}
/*
@media (max-width: 490px) {
	.container-fluid { 
		max-width: 100%;
		padding-left: 5px;
		padding-right: 5px;
	}
	.my-view-buttons {
		z-index: 9000;
		margin: 10px 0;
		padding-left: 0;
		padding-right: 0;
	}
	.current-spot {
		margin-top: 22px;
	}
	header h1 {
		font-size: 26px;
	}
	.ng-scope > .row {
		margin-left: 0;
		margin-right: 0;
	}
	.btn-lg, .btn-group-lg > .btn {
		font-size: 10px;
		padding: 6px;
	}
	.current-spot h3 {
    margin-bottom: 14px;
    margin-top: 12px;
	}
	.page-title h3 {
		font-size: 1.6em;
	}
	table th, table th a {
		font-size: 12px;
	}
	table h4 {
		font-size: 12px;
	}
	table .btn {
		padding: 5px;
		font-size: 10px;
		margin-bottom: 5px;
	}
}
/* display: block;
		position: absolute;
		margin: 10px 0;
		width: 520px; */