<!DOCTYPE html>
<!--
  ~ MyPal Pet (mypalpet.gilbert-rehling.com)
  ~ @version    $Id: $file.filename 10001 18/07/17 9:40 PM Gilbert Rehling $
  ~ @package    MyPal Pet REST Project by Gilbert Rehling (www.gilbert-rehling.com)
  ~ @subpackage mypalpet
  ~ @link       https://mypalpet.gilbert-rehling.com
  ~ @copyright  Copyright (c) 2017. Gilbert Rehling of MMFAW. All rights reserved. (www.mfmaw.com)
  ~ @license   MyPal Pet! is licensed software. No unauthorised copying or replication allowed!
  ~ MyPal Pet may be released as FREEWARE with a limited usage license.
  ~ This program is designed as a Laravel / Angular project
  ~ Any other use is prohibited and may infringe on the copyright and usage expectations of ths software.
  ~ See COPYRIGHT.php for copyright notices and further details.
  -->

<html lang="en" ng-app="mypalpet">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.6/css/ngDialog.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.6/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.6/css/ngDialog-theme-plain.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.6/js/ngDialog.min.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
    <script type="text/javascript" src="js/mypalpet.js"></script>
    <script type="text/javascript" src="js/manage.js"></script>
    <style type="text/css">
        .hide-loading { display: none; }
    </style>
</head>
<body data-ng-controller="MypalpetCtrl" class="mypalpet-body">

<!-- header section - contains logo, navigation, search -->
<header class="header-content" id="header-content">
    <div class="header-inner">
        <div class="container-fluid">
            <div ng-include src="getHeader()"></div>
        </div>
    </div>
</header>

<!-- Optional Title Bar -->
<div class="row text-center site-loading" data-ng-hide="!isSiteLoaded()"><p><br /><span>Please wait</span><br /></p><img alt="Loading" src="/img/progressring.gif" /><p><br /><span>Loading content</span><br /></p></div>
<div class="current-spot hide-loading">
    <div clas="container-fluid">
        <div ng-include src="getCurrentSpot()"></div>
    </div>
</div>

<!-- Content Section -->
<div class="main-content" id="main-page-content" ng-class="{border10: showBorder10}">
    <div class="container-fluid">
        <div data-ui-view></div>
    </div>
</div>

<!-- Footer Section -->
<footer>
    <div class="footer-inner">
        <div class="container-fluid">
            <div ng-include src="getFooter()"></div>
        </div>
    </div>
</footer>

<!-- scope management / helper -->
<div style="display: none" id="public-controller-scope">
    <button ng-click="goToLogin">LB</button>
    <button ng-click="setState">SB</button>
</div>
</body>
</html>