<!--
  ~ MyPal Pet (mypalpet.gilbert-rehling.com)
  ~ @version    $Id: $file.filename 10001 18/07/17 9:40 PM Gilbert Rehling $
  ~ @package    MyPal Pet REST Project by Gilbert Rehling (www.gilbert-rehling.com)
  ~ @subpackage mypalpet
  ~ @link       https://mypalpet.gilbert-rehling.com
  ~ @copyright  Copyright (c) 2017. Gilbert Rehling of MMFAW. All rights reserved. (www.mfmaw.com)
  ~ @license   MyPal Pet! is licensed software. No unauthorised copying or replication allowed!
  ~ MyPal Pet may be released as FREEWARE with a limited usage license.
  ~ This program is designed as a Laravel / Angular project
  ~ Any other use is prohibited and may infringe on the copyright and usage expectations of ths software.
  ~ See COPYRIGHT.php for copyright notices and further details.
  -->

<div class="my-ad-modal">
	<div class="ngdialog-message">
		<h3>Delete Ad</h3>
		<form action="" method="post" onsubmit="return false;">
			<div class="col-sm-12 form-group">
				<p>
					<strong>Really delete this Pet Ad?</strong>
					<span> {{ deleteTitle }} </span>
				</p>
				<p>
					<strong>This action can not be undone!</strong>
					<span> {{ deleteTitle }} </span>
				</p>				
				<div class="col-sm-12 button-box">
					<div class="col-sm-2">
						<button type="submit" class="btn btn-danger btn" data-ng-click="delete(deleteContext, deleteId)">Delete</button>
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-success btn" data-ng-click="closeThisDialog('button')">Cancel</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="ngdialog-buttons">
	  <button ng-click="closeThisDialog('button')" class="ngdialog-button ngdialog-button-secondary" type="button">Close</button>
	</div>
</div>