<!--
  ~ MyPal Pet (mypalpet.gilbert-rehling.com)
  ~ @version    $Id: $file.filename 10001 18/07/17 9:40 PM Gilbert Rehling $
  ~ @package    MyPal Pet REST Project by Gilbert Rehling (www.gilbert-rehling.com)
  ~ @subpackage mypalpet
  ~ @link       https://mypalpet.gilbert-rehling.com
  ~ @copyright  Copyright (c) 2017. Gilbert Rehling of MMFAW. All rights reserved. (www.mfmaw.com)
  ~ @license   MyPal Pet! is licensed software. No unauthorised copying or replication allowed!
  ~ MyPal Pet may be released as FREEWARE with a limited usage license.
  ~ This program is designed as a Laravel / Angular project
  ~ Any other use is prohibited and may infringe on the copyright and usage expectations of ths software.
  ~ See COPYRIGHT.php for copyright notices and further details.
  -->

<div class="row" mb-active-menu="List" mb-active-title="Delete This Pet Listing">
	<div class="row">
		<div class="row">
			<h3>Confirm Deletion</h3>
			<div class="col-sm-8">
				<p id="delete-message">
					Are you sure you want to delete this Pet Record titled <strong>'{{getSelected.breed}} - {{getSelected.name}}'?</strong>
				</p>
				<p data-ng-show="errorMessage.length > 1">
					<span class="error" id="error-messages" >{{ errorMessage }}</span>
				</p>
			</div> 
		</div>
		<div class="row">
				<div class="col-sm-6">
					<button class="btn btn-success btn" data-ng-click="cancel($event)">
						No
					</button>
					<button class="btn btn-danger btn" data-ng-click="runDelete()">
						Yes
					</button>
				</div>
		</div>
	</div>
</div>