<!--
  ~ MyPal Pet (mypalpet.gilbert-rehling.com)
  ~ @version    $Id: $file.filename 10001 18/07/17 9:40 PM Gilbert Rehling $
  ~ @package    MyPal Pet REST Project by Gilbert Rehling (www.gilbert-rehling.com)
  ~ @subpackage mypalpet
  ~ @link       https://mypalpet.gilbert-rehling.com
  ~ @copyright  Copyright (c) 2017. Gilbert Rehling of MMFAW. All rights reserved. (www.mfmaw.com)
  ~ @license   MyPal Pet! is licensed software. No unauthorised copying or replication allowed!
  ~ MyPal Pet may be released as FREEWARE with a limited usage license.
  ~ This program is designed as a Laravel / Angular project
  ~ Any other use is prohibited and may infringe on the copyright and usage expectations of ths software.
  ~ See COPYRIGHT.php for copyright notices and further details.
  -->

<div class="col-sm-12" mb-active-menu="Edit" mb-active-title="edit-ad" data-ng-controller="EditCtrl">
    <div class="row">
        <div class="col-sm-7">
            <form action="" method="post" onsubmit="return false;" name="editAdForm" id="editAdForm">
                <div class="col-sm-12 form-group">
                    <h3>Edit a Pet Ad</h3>
                    <p>Please make your changes to update this pet record</p>
                    <span class="error hide-loading" data-ng-show="errorMessage">{{ errorMessage }}</span>
                    <label for="">Breed</label>
                    <input class="form-control input-lg" type="text" placeholder="Breed - enter the breed for your pet" data-ng-model="breedBox"  ng-required="true" />
                    <label for="">Age</label>
                    <select class="form-control input-lg" data-ng-model="ageBox" placeholder="Please choose the pets age" data-ng-options="option.age for option in chooseAgesBox track by option.id"  ng-required="true">
                        <option value="" selected="selected">Please select the pets age in months</option>
                    </select>
                    <label for="">Name</label>
                    <input class="form-control input-lg" type="text" placeholder="Name - enter the name of your pet" data-ng-model="nameBox" />
                    <label for="">Price</label>
                    <input class="form-control input-lg" type="text" placeholder="Price - enter the sale price for your pet" data-ng-model="priceBox"  ng-required="true" />
                    <label for="">List Date</label>
                    <div>
                        <input id="datePickerBox" type="text" placeholder="Listing date" class="form-control date-picker pull-left input-lg" uib-datepicker-popup="{{format}}" data-ng-model="listDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" readonly />
                        <span class="input-group-btn datePickerButton pull-left">
		                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
		                </span>
                    </div>
                    <label for="">Sale Date</label>
                    <div>
                        <input id="datePickerBox2" type="text" placeholder="Sale date" class="form-control date-picker pull-left input-lg" uib-datepicker-popup="{{format}}" data-ng-model="saleDate" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" readonly />
                        <span class="input-group-btn datePickerButton pull-left">
		                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
		                </span>
                    </div>

                    <div class="col-sm-12 button-box">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success btn" data-ng-disabled="breedBox=='' || ageBox=='' || priceBox=='' || listDate==''" data-ng-click="updateAd()">Save</button>
                            <button class="btn btn-warning btn" data-ng-click="cancel($event)">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <span id="edit-ad" style="display: none;">Editing an Existing Pet Record</span>
    <div style="display: none" id="memberButtons">
        <span><button>Empty</button></span>
    </div>
</div>