<!--
  ~ MyPal Pet (mypalpet.gilbert-rehling.com)
  ~ @version    $Id: $file.filename 10001 18/07/17 9:40 PM Gilbert Rehling $
  ~ @package    MyPal Pet REST Project by Gilbert Rehling (www.gilbert-rehling.com)
  ~ @subpackage mypalpet
  ~ @link       https://mypalpet.gilbert-rehling.com
  ~ @copyright  Copyright (c) 2017. Gilbert Rehling of MMFAW. All rights reserved. (www.mfmaw.com)
  ~ @license   MyPal Pet! is licensed software. No unauthorised copying or replication allowed!
  ~ MyPal Pet may be released as FREEWARE with a limited usage license.
  ~ This program is designed as a Laravel / Angular project
  ~ Any other use is prohibited and may infringe on the copyright and usage expectations of ths software.
  ~ See COPYRIGHT.php for copyright notices and further details.
  -->

<div class="row">
	<h1 class="pull-left"><a id="List2" href="#/list" ng-click="clearView()">MyPal Pets</a></h1>
	<div class="pull-left col-md-4 action-buttons noPadd" data-ng-if="currentUser">
		<div class="row">
			<div class="pull-left post-new-button col-sm-5 my-view-buttons no-padd">
				<span class="text-info"><strong>Select View </strong></span>
				<button id="Add" data-ng-click="clearView(); startPost();" class="btn btn-primary btn-lg">Add</button>
				<button id="List" class="btn btn-primary btn-lg" data-ng-click="startList()">List</button>
			</div>
		</div>
	</div>
	<div class="col-xs-5 col-sm-5 col-md-4 pull-right search" data-ng-if="currentUser">
		<input class="input-lg" placeholder="Search" data-ng-change="setSearch($event)" id="searchKeyValue" data-ng-model="searchKeyValue" />
	</div>

	<div class="user-info pull-right">
		<div class="user-welcome" data-ng-if="currentUser"><span>Welcome</span>, {{ currentUser.name }} </div>
		<div class="user-role" data-ng-show="currentUser.role == 'admin'"><span>Admin</span></div>
		<div class="user-role" data-ng-show="currentUser.role == 'member'">Member</div>
		<div class="user-role"><a class="" href="/">Anonymous</a></div>
		<div class="user-role" data-ng-if="currentUser.role == 'guest'">
			<a class="" href="#" data-ng-click="logOut()">Logout</a>
		</div>
	</div>
</div>