<!--
  ~ MyPal Pet (mypalpet.gilbert-rehling.com)
  ~ @version    $Id: $file.filename 10001 18/07/17 9:40 PM Gilbert Rehling $
  ~ @package    MyPal Pet REST Project by Gilbert Rehling (www.gilbert-rehling.com)
  ~ @subpackage mypalpet
  ~ @link       https://mypalpet.gilbert-rehling.com
  ~ @copyright  Copyright (c) 2017. Gilbert Rehling of MMFAW. All rights reserved. (www.mfmaw.com)
  ~ @license   MyPal Pet! is licensed software. No unauthorised copying or replication allowed!
  ~ MyPal Pet may be released as FREEWARE with a limited usage license.
  ~ This program is designed as a Laravel / Angular project
  ~ Any other use is prohibited and may infringe on the copyright and usage expectations of ths software.
  ~ See COPYRIGHT.php for copyright notices and further details.
  -->

<div class="row" mb-active-menu="List" mb-active-title="list-ad">
    <div class="petsListView adListView hide-loading">
        <div class="list-block col-xs-12 col-sm-12 col-md-9 no-padd pull-left">
            <h3>Pets Directory</h3>
            <div class="row hide-loading" ng-show="deleteMessage != null">
                <div class="col-sm-12">
                    <h3 class="text-danger hide-loading">{{deleteMessage}}</h3>
                </div>
            </div>
            <div class="pet-block" data-ng-repeat="ad in ads | filter: searchKey">
                <div class="pet-outer-list">
                    <h4 class="title"> {{ ad.breed}}
                        <span class="more-button-box">
                            <button class="btn btn-danger btn-sml pull-right" data-ng-click="startDelete($index)">Delete</button>
                            <button class="btn btn-warning btn-sml pull-right" data-ng-click="startEdit(ad.id)">Edit</button>&nbsp;
                            <button class="btn btn-primary pull-right" data-ng-click="showMoreAd(ad.id)" >More</button>&nbsp;
						</span>
                    </h4>
                    <div class="pet-inner list">
                        <h5 title="{{ x.breed }}">{{ ad.name }}</h5>
                        <p><strong><span>Age</span> {{ ad.age }}</strong> -- <strong><span>Price</span> ${{ ad.price }}</strong> -- <strong><span>List Date</span> {{ ad.listDate }}</strong> -- <strong><span>Sale Date</span> {{ ad.saleDate }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span id="list-ad" style="display: none;">Pets Directory</span>
    <div class="row hide-loading" ng-show="errorMessage != ''">
        <div class="col-sm-12">
            <h3 class="text-danger hide-loading">{{errorMessage}}</h3>
        </div>
    </div>
    <!-- scope management / helper -->
    <div style="display: none" id="list-controller-scope">
        <button>empty</button>
    </div>
</div>