<!--
  ~ MyPal Pet (mypalpet.gilbert-rehling.com)
  ~ @version    $Id: $file.filename 10001 19/07/17 7:53 PM Gilbert Rehling $
  ~ @package    MyPal Pet REST Project by Gilbert Rehling (www.gilbert-rehling.com)
  ~ @subpackage mypalpet
  ~ @link       https://mypalpet.gilbert-rehling.com
  ~ @copyright  Copyright (c) 2017. Gilbert Rehling of MMFAW. All rights reserved. (www.mfmaw.com)
  ~ @license   MyPal Pet! is licensed software. No unauthorised copying or replication allowed!
  ~ MyPal Pet may be released as FREEWARE with a limited usage license.
  ~ This program is designed as a Laravel / Angular project
  ~ Any other use is prohibited and may infringe on the copyright and usage expectations of ths software.
  ~ See COPYRIGHT.php for copyright notices and further details.
  -->

<div class="my-ad-modal">
	<div class="ngdialog-message">
		<h3>{{ ad[0].name }}</h3>
		<div class="col-md-7">
			<p><strong class="title">Breed</strong>	<span class="data">{{ ad[0].breed }}</span></p>
			<p><strong class="title">Age</strong>	<span class="data">{{ ad[0].age }}</span></p>
			<p><strong class="title">Price</strong>	<span class="data">{{ ad[0].price }}</span></p>
			<p><strong class="title">List Date</strong>	<span class="data">{{ ad[0].listDate | date: 'fullDate' }}</span></p>
			<p><strong class="title">Sale Date</strong>	<span class="data">{{ ad[0].saleDate | date: 'fullDate' }}</span></p>
			<p><strong class="title">Created</strong>	<span class="data">{{ ad[0].created }}</span></p>
			<p><strong class="title">ID</strong>	<span class="data">{{ ad[0].id }}</span></p>
			<hr>
		</div>
	</div>
	<div class="ngdialog-buttons">
	  <button ng-click="closeThisDialog('button')" class="ngdialog-button ngdialog-button-secondary" type="button">Close</button>
	</div>
</div>