<!--
  ~ MyPal Pet (mypalpet.gilbert-rehling.com)
  ~ @version    $Id: $file.filename 10001 18/07/17 9:40 PM Gilbert Rehling $
  ~ @package    MyPal Pet REST Project by Gilbert Rehling (www.gilbert-rehling.com)
  ~ @subpackage mypalpet
  ~ @link       https://mypalpet.gilbert-rehling.com
  ~ @copyright  Copyright (c) 2017. Gilbert Rehling of MMFAW. All rights reserved. (www.mfmaw.com)
  ~ @license   MyPal Pet! is licensed software. No unauthorised copying or replication allowed!
  ~ MyPal Pet may be released as FREEWARE with a limited usage license.
  ~ This program is designed as a Laravel / Angular project
  ~ Any other use is prohibited and may infringe on the copyright and usage expectations of ths software.
  ~ See COPYRIGHT.php for copyright notices and further details.
  -->

<!--<div class="popover {{ placement }}" style="width: 400px;" data-ng-class="{ in: isOpen(), fade: animation() }">
	<div class="arrow"></div>
	<div class="popover-inner" tt-load-template-in-sibling="{{template}}"></div>
<div>-->
<div class="popover-content">
  <datepicker ng-model="$parent.$parent.entity.datePicker" show-weeks="true" 
  	starting-day="1"></datepicker>
</div>