<!--
  ~ MyPal Pet (mypalpet.gilbert-rehling.com)
  ~ @version    $Id: $file.filename 10001 18/07/17 9:40 PM Gilbert Rehling $
  ~ @package    MyPal Pet REST Project by Gilbert Rehling (www.gilbert-rehling.com)
  ~ @subpackage mypalpet
  ~ @link       https://mypalpet.gilbert-rehling.com
  ~ @copyright  Copyright (c) 2017. Gilbert Rehling of MMFAW. All rights reserved. (www.mfmaw.com)
  ~ @license   MyPal Pet! is licensed software. No unauthorised copying or replication allowed!
  ~ MyPal Pet may be released as FREEWARE with a limited usage license.
  ~ This program is designed as a Laravel / Angular project
  ~ Any other use is prohibited and may infringe on the copyright and usage expectations of ths software.
  ~ See COPYRIGHT.php for copyright notices and further details.
  -->

<table class="well well-large">
  <thead>
    <tr class="text-center">
      <th><button class="btn pull-left" ng-click="move(-1)"><i class="icon-chevron-left"></i></button></th>
      <th colspan="{{rows[0].length - 2 + showWeekNumbers}}"><button class="btn btn-block" ng-click="toggleMode()"><strong>{{title}}</strong></button></th>
      <th><button class="btn pull-right" ng-click="move(1)"><i class="icon-chevron-right"></i></button></th>
    </tr>
    <tr class="text-center" ng-show="labels.length > 0">
      <th ng-show="showWeekNumbers">#</th>
      <th ng-repeat="label in labels">{{label}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in rows">
      <td ng-show="showWeekNumbers" class="text-center"><em>{{ getWeekNumber(row) }}</em></td>
      <td ng-repeat="dt in row" class="text-center">
        <button style="width:100%;" class="btn" ng-class="{'btn-info': dt.isSelected}" ng-click="select(dt.date)" ng-disabled="dt.disabled"><span ng-class="{muted: ! dt.isCurrent}">{{dt.label}}</span></button>
      </td>
    </tr>
  </tbody>
</table>