<!--
  ~ MyPal Pet (mypalpet.gilbert-rehling.com)
  ~ @version    $Id: $file.filename 10001 18/07/17 9:40 PM Gilbert Rehling $
  ~ @package    MyPal Pet REST Project by Gilbert Rehling (www.gilbert-rehling.com)
  ~ @subpackage mypalpet
  ~ @link       https://mypalpet.gilbert-rehling.com
  ~ @copyright  Copyright (c) 2017. Gilbert Rehling of MMFAW. All rights reserved. (www.mfmaw.com)
  ~ @license   MyPal Pet! is licensed software. No unauthorised copying or replication allowed!
  ~ MyPal Pet may be released as FREEWARE with a limited usage license.
  ~ This program is designed as a Laravel / Angular project
  ~ Any other use is prohibited and may infringe on the copyright and usage expectations of ths software.
  ~ See COPYRIGHT.php for copyright notices and further details.
  -->

<div>
  <ul class="uib-datepicker-popup dropdown-menu uib-position-measure" dropdown-nested ng-if="isOpen" ng-keydown="keydown($event)" ng-click="$event.stopPropagation()">
    <li ng-transclude></li>
    <li ng-if="showButtonBar" class="uib-button-bar">
      <span class="btn-group pull-left">
        <button type="button" class="btn btn-sm btn-info uib-datepicker-current" ng-click="select('today', $event)" ng-disabled="isDisabled('today')">{{ getText('current') }}</button>
        <button type="button" class="btn btn-sm btn-danger uib-clear" ng-click="select(null, $event)">{{ getText('clear') }}</button>
      </span>
      <button type="button" class="btn btn-sm btn-success pull-right uib-close" ng-click="close($event)">{{ getText('close') }}</button>
    </li>
  </ul>
</div>